---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
      
<div class='p4'>
<h2>Flex</h2>
<p class='lh-body measure'>
  Flexbox can be useful for a number of layout patterns.
</p>
<blockquote class='ml0 pl4 bw3 bl'>
<p class='lh-body measure'>
    “The simplest scale is a single note, and sticking with a single note draws more attention to other parameters, such as rhythm and inflection… In the sixteenth century, a series of common sizes developed among European typographers, and the series survived with little change and few additions for 400 years… This is the typographic equivalent of the diatonic scale.”
</p>
<p class='fw9'>—Robert Bringhurst, The Elements of Typographic Style</p>
</blockquote>
</div>
  <section class='p4'>
    <h3>Variables</h3>
    <code class='pre db mb5'>

    </code>

    
  </section>
  <section class='p4'>
    <h3>Examples</h3>
    <article class='bb py2'>
      <code>f1 - 12px</code> 
      <p class='f1  lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    </article>
    <article class='bb py2'>
      <code>f2 - 14px</code> 
    <p class='f2  lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    </article>
    <article class='bb py2'>
      <code>f3 - 16px</code> 
    <p class='f3  lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f4 - 20px</code> 
    <p class='f4  lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f5 - 24px</code> 
    <p class='f5  lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f6 - 32px</code> 
    <p class='f6  lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f7 - 48px</code> 
    <p class='f7  fw9 lh-title m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f8 - 64px</code> 
    <p class='f8  fw9 lh-solid m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f9 - 96px</code> 
    <p class='f9  fw9 lh-solid m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f10 - 128px</code> 
    <p class='f10 fw9 lh-solid m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f11 - 192px</code> 
    <p class='f11 fw9 lh-solid m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
    <article class='bb py2'>
      <code>f12 - 256px</code> 
    <p class='f12 fw9 lh-solid m0 nowrap overflow-hidden'>Lorem the quick brown fox jumped over the lazy red dog.</p>
    </article>
  </section>
  <section class='p4'>
    <h3>Reference</h3>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size">MDN - font-size</a>
  </section> 
  <Footer />
</Layout>

