---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
      
<div class='p4'>

<h2>Font Weight</h2>
<p>
Single purpose classes to set the font-weight of any element at any breakpoint.

Varying the font-weight of different pieces of text can help create contrast between pieces of information. It can help call attention to a piece of content, or help to make a smaller font-size a bit more readable. In Elements of Typographic Style, Robert Bringhurst suggests we keep two things in mind when playing with font-weight. Use bold weights sparingly. Font-weight should decrease as font-size increases.
</p>
</div>
  <section class='p4'>
    <h3>Font weights</h3>
    <p class='fw1'>100</p>
    <p class='fw2'>200</p>
    <p class='fw3'>300</p>
    <p class='fw4'>400</p>
    <p class='fw5'>500</p>
    <p class='fw6'>600</p>
    <p class='fw7'>700</p>
    <p class='fw8'>800</p>
    <p class='fw9'>900</p>
  </section>
  <section class='p4'>
    <h3>Examples</h3>

String Values
<p class="normal">Font-weight: normal</p>

Font-weight: normal
<p class="b">Font-weight: bold</p>

Font-weight: bold
Number values
<p class="fw1">Font-weight: 100</p>

Font-weight: 100
<p class="fw2">Font-weight: 200</p>

Font-weight: 200
<p class="fw3">Font-weight: 300</p>

Font-weight: 300
<p class="fw4">Font-weight: 400</p>

Font-weight: 400
<p class="fw5">Font-weight: 500</p>

Font-weight: 500
<p class="fw6">Font-weight: 600</p>

Font-weight: 600
<p class="fw7">Font-weight: 700</p>

Font-weight: 700
<p class="fw8">Font-weight: 800</p>

Font-weight: 800
<p class="fw9">Font-weight: 900</p>

Font-weight: 900
  </section>
  <Footer />
</Layout>

