---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
import Text from '../../components/Text.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
      
<div class='p4'>
<h2>Font Family</h2>
<Text>
 There are several pre-defined classes for setting the typeface of a page or element. These are configurable in _variables or by editing font-family.css directly. It is suggested that you customize or extend this module to suit your own needs. Tachyons comes with system fonts out of the box as these can drastically improve page performance.
 </Text>

</div>
  <section class='p4'>
    <h3>Variables</h3>
    <div class='overflow-x-scroll overflow-hidden'>
<code class='pre'>

  <b>--font-family-heading:</b> Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  <b>--font-family-body:</b> Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  <b>--font-family-mono:</b> Inconsolata, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
</code>
</div>
  </section>
  <section class='p4'>
    <h3>Examples</h3>
    <time class='f-mono'>29 JUN 2023</time>
    <h4 class='f-heading f6 fw9 mb3 mt2'>An example title with heading typeface</h4>
    <p class='lh-body measure f-body'>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

    </p> 
    <code class='code lh-body f-mono'>
  <b>--font-family-heading:</b> Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  <b>--font-family-body:</b> Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  <b>--font-family-mono:</b> Inconsolata, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

    </code>
  </section>
  <Footer />
</Layout>

