---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
  <div class='p4'>
    <h2>Font Style</h2>
    <p>Single purpose classes to set the font-style of any element at any breakpoint.</p>
    <p>Italics can be used to emphasize a piece of content. Some common uses of italics include: titles, vehicle names, letters of the alphabet, scientific terms, and quotes.</p>
  </div>
  <section class='p4'>
    <h3>Font styles</h3>
     
  </section>
  <section class='p4'>
    <h3>Examples</h3>
    <p class="i"></p>

    Readers want what is important to be clearly laid out; they will not read what is too troublesome.
    <p class="fs-normal"></p>

    A quote from Jan Tschichold about typography. 
  </section>
  <Footer />
</Layout>

