---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
      
<div class='p5'>
<h2></h2>
<p class='lh-body measure'>
  Nestable responsive grid. Utilities support 1-16 column layouts out of the box.  
</p>
<p>
  The v4 version relied heavily on floats, widths, and display table for multi column grids. v5 features flexbox and grid patterns to build responsive layouts.
</p>
</div>
  <section class='dn p5'>
    <h3>Values</h3>
    <code class='pre db mb5'>

    </code>
  </section>
  <section class='p5 f-mono white'>
  <header class='f-body black'>
    <h3>Examples</h3>
  </header>
  <p class='black'>Fixed column layouts that don't change across container widths</p>
    <article class='grid cols-1  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-1 </div>
    </article>
    <article class='grid cols-2  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-2 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-3  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-3 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-4  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-4 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-5  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-5 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-6  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-6 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-7  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-7 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-8  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-8</div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-9  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-9 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
<article class='grid cols-10  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-10 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
<article class='grid cols-11  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-11 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
<article class='grid cols-12  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-12 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
<article class='grid cols-13  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-13 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-14  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-14 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-15  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-15 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
    <article class='grid cols-16  '>
      <div class='bg-black shadow-border-2 py4 px4'> cols-16 </div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
      <div class='bg-black shadow-border-2 py4 px1'></div>
    </article>
  </section>
  <section class='p5 f-mono'>
    <p class='black'>Use the gap utilities (g0-g7) to add space between flex or grid items</p>
    <article class='grid cols-4 white g3'>
      <div class='bg-black shadow-border-2 py4 px4'> g3</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
      <div class='bg-black shadow-border-2 py4 px1'> &nbsp;</div>
    </article>
  </section>
  <section class='p5 f-mono' style='container-type: inline-size;'>
    <p class='black'>As classes are built off of container queries we can adjust columns based on a container width</p>
    <article class='grid cols-4 white g3' style='container-type: inline-size;'> 
      <div style='container-type: inline-size;'>
      <div class='grid cols-1 cols-2-s cols-3-m cols-8-l g3 bg-black shadow-border-2 py4 px4' style='container-type: inline-size;'>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
      </div>
      </div>
      <div class='col-3' style='container-type:inline-size; '>
      <div class='grid col-3 cols-2 cols-3-s cols-4-m cols-8-l g3 bg-black shadow-border-2 py4 px4' style='container-type:inline-size; '>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
        <div class='bg-blue-5 p2'></div>
      </div>
      </div>
    </article>
  </section>
  <section class='p5'>
    <h3>Reference</h3>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size">MDN - font-size</a>
  </section> 
  <Footer />
</Layout>

