---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
      
<div class='p4'>
<h2>Docs</h2>
<h3>Overview of Tachyons</h3>
<a class='db' href='#0'>Table of Styles</a>
<a class='db' href='#0'>Table of Properties</a>
<h3>Typography</h3>
<a class='db' href='/docs/type-scale'>Type Scale</a>
<a class='db' href='/docs/measure'>Measure</a>
<a class='db' href='/docs/line-height'>Line Height / Leading</a>
<a class='db' href='/docs/tracking'>Tracking</a>
<a class='db' href='/docs/font-weight'>Font Weights</a>
<a class='db' href='/docs/font-style'>Font Style</a>
<a class='db' href='/docs/vertical-align'>Vertical Align</a>
<a class='db' href='/docs/text-align'>Text Align</a>
<a class='db' href='/docs/text-transform'>Text Transform</a>
<a class='db' href='/docs/text-decoration'>Text Decoration</a>
<a class='db' href='/docs/white-space'>White Space</a>
<a class='db' href='/docs/font-family'>Font Families</a>
<h3>Layout</h3>
<a class='db' href="/docs/debug">Debugging</a>
<a class='db' href="/docs/debug">Debug with a Grid</a>
<a class='db' href="/docs/grid">Basic Grid</a>
<a class='db' href="/docs/flex">Flexbox</a>
<a class='db' href="/docs/box-sizing">Box Sizing</a>
<a class='db' href="/docs/spacing">Spacing</a>
<a class='db' href="/docs/floats">Floats</a>
<a class='db' href="/docs/display">Display</a>
<a class='db' href="/docs/width">Widths</a>
<a class='db' href="/docs/max-width">Max Widths</a>
<a class='db' href="/docs/height">Heights</a>
<a class='db' href="/docs/position">Position</a>
<h3>Theming</h3>
<a class='db' href='/docs/color'>Color</a>
<a class='db' href='/docs/hover'>Hover</a>
<a class='db' href='/docs/background-size'>Background Size</a>
<a class='db' href='/docs/border'>Borders</a>
<a class='db' href='/docs/border-radius'>Border Radius</a>
<a class='db' href='/docs/box-shadow'>Box Shadow</a>
<a class='db' href='/docs/opacity'>Opacity</a>
<h3>Elements</h3>
<a class='db' href='/docs/image'>Images</a>
<a class='db' href='/docs/link'>Links</a>
<a class='db' href='/docs/list'>Lists</a>
<a class='db' href='/docs/form'>Forms</a>
<a class='db' href='/docs/table'>Tables</a>
</div>
  <Footer />
</Layout>

