---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Docs">
  <Header />
      
<div class='p4'>
<h2>White Space</h2>
<p>
 White space in css is used to control how whitespace is rendered. 
</p>

<dl>
  <dt>Normal</dt> 
  <dd>Supresses white space characters and breaks lines based on the width of the element or the placement of a br tag.</dd>

<dt>Nowrap</dt> 
<dd>Will keep all text on one line - often used in conjunction with truncation or a scrollbar. This can be useful for displaying unix style commands where indicating everything is on one line is important for clarity.</dd>
<dt>Pre</dt> 
<dd>
  Will preserve all whitespace and linebreaks. This is useful for displaying code or poetry. Simulates the rendering of the pre tag.
</dd>
</dl>
</div>
  <section class='p4'>
    <h3>Values</h3>
    
  </section>
  <section class='p4'>
    <h3>Examples</h3>

      <p class="measure lh-copy">This text is formatted the same way in the source and printed three times, with the only difference being which white-space class is attached.</p>
        <code class="db">
          &lt;p class="ws-normal"&gt;Content&lt;/p&gt;
        </code>
        <p class="ws-normal measure">

          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod

            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At

              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,

          no sea
            takimata
          sanctus est

                    Lorem

          ipsum dolor sit amet.

        </p>
        <h3 class="fw4 mt4 code">.nowrap</h3>
        <p class="nowrap measure truncate">
          Typography is to literature as musical performance is to composition: an
          essential act of interpretation, full of endless opportunities for insight or
          obtuseness.
        </p>
        <h3 class="pt4 code">.pre</h3>
        <p class="pre measure">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod

            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At

              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,

          no sea
            takimata
          sanctus est

                    Lorem

          ipsum dolor sit amet.

        </p>
        <div class="mt5 cf">
          <div class="dib mr4">
            <h4 class="fw6">Previous</h4>
            <a href="/docs/typography/text-decoration/" class="link fw6 blue dim">Text Decoration</a>
          </div>
          <div class="dib mr4">
            <h4 class="fw6">Next</h4>
            <a href="/docs/debug/" class="link fw6 blue dim">Debugging</a>
          </div>
        </div>
        <div class="mt5">
          <h4 class="fw6">Reference</h4>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/white-space" class="link fw6 blue dim">MDN - White Space</a>
        </div>
      
  </section>
  <Footer />
</Layout>

