---
import Layout from '../../layouts/Layout.astro';
import Badge from '../../components/Badge.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Link from '../../components/Link.astro';
import Avatar from '../../components/Avatar.astro';
import Alert from '../../components/Alert.astro';
import SlabStat from '../../components/SlabStat.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Tachyons - Design at the speed of light">
  <Header />
  <div>
    <section class='p5'>
      <ComponentTitle>Link</ComponentTitle> 
      <Link href='https://tachyons.io' title='Tachyons'>A sample text link</Link>
    </section>
    <section class='p5 grid g4 cols-min-64'>
      <ComponentTitle>Avatar</ComponentTitle> 
      <Avatar /> 
      <Avatar variant={2} /> 
      <Avatar variant={3} /> 
      <Avatar variant={4} /> 
      <Avatar variant={5} /> 
      <Avatar variant={6} /> 
      <Avatar variant={7} /> 
      <Avatar variant={8} /> 
    </section>
    <section class='p5'>
      <ComponentTitle>Badge</ComponentTitle> 
      <div class='flex g4'>
        <Badge>New</Badge>
        <Badge variant={2}>Beta</Badge>
        <Badge variant={3}>Alpha</Badge>
      </div>

    </section>
    <section class='p5'>
      <ComponentTitle>Alert</ComponentTitle> 
      <div>
        <Alert variant={1}>Variant 1 Alert Style</Alert>
        <Alert variant={2}>Variant 2 Alert Style</Alert>
        <Alert variant={3}>Variant 3 Alert Style</Alert>
        <Alert variant={4}>Variant 4 Alert Style</Alert>
        <Alert variant={5}>Variant 5 Alert Style</Alert>
        <Alert variant={6}>Variant 6 Alert Style</Alert>
        <Alert variant={7}>Variant 7 Alert Style</Alert>
        <Alert variant={8}>Variant 8 Alert Style</Alert>
      </div>

    </section>
    <section class='p5'>
      <ComponentTitle>SlabStat</ComponentTitle> 
      <div class='flex g5'>
        <SlabStat /> 
        <SlabStat variant={2} /> 
        <SlabStat variant={3} /> 
      </div>
    </section>
    <section class='p5'>
      <ComponentTitle>Card</ComponentTitle> 
      <div class='flex g4'>
        <div class='w-25'><Card /></div>
        <div class='w-100'><Card /></div>
      </div>
    </section>
  </div>
  <Footer />
</Layout>

