---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Link from '../../components/Link.astro';
import Avatar from '../../components/Avatar.astro';
import SlabStat from '../../components/SlabStat.astro';
import Footer from '../../components/Footer.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Design at the speed of light">
  <Header />
  <div>
    <section class='p5'>
      <ComponentTitle>Link</ComponentTitle> 
      <Link href='https://tachyons.io' title='Tachyons'>A sample text link</Link>
    </section>
    <section class='p5 grid g4 cols-min-64'>
      <ComponentTitle>Avatar</ComponentTitle> 
      <Avatar /> 
      <Avatar variant={2} /> 
      <Avatar variant={3} /> 
      <Avatar variant={4} /> 
      <Avatar variant={5} /> 
      <Avatar variant={6} /> 
      <Avatar variant={7} /> 
      <Avatar variant={8} /> 
    </section>
    <section class='p5'>
      <ComponentTitle>SlabStat</ComponentTitle> 
      <SlabStat /> 
    </section>
    <section class='p5'>
      <ComponentTitle>Card</ComponentTitle> 
      <div class='flex g4'>
        <div class='w-25'><Card /></div>
        <div class='w-100'><Card /></div>
      </div>
    </section>
  </div>
  <Footer />
</Layout>

