---
import Layout from '../../layouts/Layout.astro';
import Badge from '../../components/Badge.astro';
import ButtonLink from '../../components/ButtonLink.astro';
import Blockquote from '../../components/Blockquote.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import Link from '../../components/Link.astro';
import Avatar from '../../components/Avatar.astro';
import Alert from '../../components/Alert.astro';
import SlabStat from '../../components/SlabStat.astro';
import ComponentTitle from '../../components/ComponentTitle.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Tachyons - Design at the speed of light">
  <Header />
  <div class='pb8'>
    <section class='dn p5'>
      <ComponentTitle>Link</ComponentTitle> 
      <Link href='https://tachyons.io' title='Tachyons'>A sample text link</Link>
    </section>
    <section class='dn p5'>
      <ComponentTitle>ButtonLink</ComponentTitle> 
      <div class='flex g4 mb4'>
        <ButtonLink href='#0' variant={1}>New</ButtonLink>
        <ButtonLink href='#0' variant={2}>Beta</ButtonLink>
        <ButtonLink href='#0' variant={3}>Alpha</ButtonLink>
        <ButtonLink href='#0' variant={4}>ButtonLink</ButtonLink>
        <ButtonLink href='#0' variant={5}>ButtonLink</ButtonLink>
        <ButtonLink href='#0' variant={6}>ButtonLink</ButtonLink>
        <ButtonLink href='#0' variant={7}>ButtonLink</ButtonLink>
        <ButtonLink href='#0' variant={8}>ButtonLink</ButtonLink>
        <ButtonLink href='#0' variant={9}>ButtonLink</ButtonLink>
      </div>
    </section>
    <section class='p5 grid g4 cols-min-64'>
      <ComponentTitle>Avatar</ComponentTitle> 
      <Avatar /> 
      <Avatar variant={2} /> 
      <Avatar variant={3} /> 
      <Avatar variant={4} /> 
      <Avatar variant={5} /> 
      <Avatar variant={6} /> 
      <Avatar variant={7} /> 
      <Avatar variant={8} /> 
    </section>
    <section class='p5'>
      <ComponentTitle>Badge</ComponentTitle> 
      <div class='flex g4 mb4'>
        <Badge variant={1}>New</Badge>
        <Badge variant={2}>Beta</Badge>
        <Badge variant={3}>Alpha</Badge>
        <Badge variant={4}>Badge</Badge>
        <Badge variant={5}>Badge</Badge>
        <Badge variant={6}>Badge</Badge>
        <Badge variant={7}>Badge</Badge>
        <Badge variant={8}>Badge</Badge>
        <Badge variant={9}>Badge</Badge>
      </div>
      <div class='flex flex-wrap g4 mb4'>
        <Badge skin='blue'>Default</Badge>
        <Badge skin='blue-dark'>Dark</Badge>
        <Badge skin='blue-light'>Light</Badge>
        <Badge skin='indigo'>Default</Badge>
        <Badge skin='indigo-dark'>Dark</Badge>
        <Badge skin='indigo-light'>Light</Badge>
        <Badge skin='violet'>Default</Badge>
        <Badge skin='violet-dark'>Dark</Badge>
        <Badge skin='violet-light'>Light</Badge>
        <Badge skin='magenta'>Default</Badge>
        <Badge skin='magenta-dark'>Dark</Badge>
        <Badge skin='magenta-light'>Light</Badge>
        <Badge skin='red'>Default</Badge>
        <Badge skin='red-dark'>Dark</Badge>
        <Badge skin='red-light'>Light</Badge>
        <Badge skin='red-orange'>Default</Badge>
        <Badge skin='red-orange-dark'>Dark</Badge>
        <Badge skin='red-orange-light'>Light</Badge>
        <Badge skin='orange'>Default</Badge>
        <Badge skin='orange-dark'>Dark</Badge>
        <Badge skin='orange-light'>Light</Badge>
        <Badge skin='gold'>Default</Badge>
        <Badge skin='gold-dark'>Dark</Badge>
        <Badge skin='gold-light'>Light</Badge>
        <Badge skin='yellow'>Default</Badge>
        <Badge skin='yellow-dark'>Dark</Badge>
        <Badge skin='yellow-light'>Light</Badge>
        <Badge skin='green'>Default</Badge>
        <Badge skin='green-dark'>Dark</Badge>
        <Badge skin='green-light'>Light</Badge>
        <Badge skin='teal'>Default</Badge>
        <Badge skin='teal-dark'>Dark</Badge>
        <Badge skin='teal-light'>Light</Badge>
        <Badge skin='cyan'>Default</Badge>
        <Badge skin='cyan-dark'>Dark</Badge>
        <Badge skin='cyan-light'>Light</Badge>
      </div>
    </section>
    <section class='p5 root'>
      <ComponentTitle>Blockquote</ComponentTitle> 
      <div class='grid g4 cols-1 cols-2-s'>
        <Blockquote author='Milton Glaser' variant={1}>
          “There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for” 
        </Blockquote>
        <Blockquote author='Milton Glaser' variant={2}>
          “There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for” 
        </Blockquote>
        <Blockquote author='Milton Glaser' variant={3}>
          “There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for” 
        </Blockquote>
        <Blockquote author='Milton Glaser' variant={4}>
          “There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for” 
        </Blockquote>
      </div>

    </section>
    <section class='p5'>
      <ComponentTitle>Alert</ComponentTitle> 
      <div class='grid g4 mb4'>
        <Alert variant={1}>Variant 1 Alert Style</Alert>
        <Alert variant={2}>Variant 2 Alert Style</Alert>
        <Alert variant={3}>Variant 3 Alert Style</Alert>
        <Alert variant={4}>Variant 4 Alert Style</Alert>
        <Alert variant={5}>Variant 5 Alert Style</Alert>
        <Alert variant={6}>Variant 6 Alert Style</Alert>
        <Alert variant={7}>Variant 7 Alert Style</Alert>
        <Alert variant={8}>Variant 8 Alert Style</Alert>
      </div>
      <div class='root grid g4 cols-3-s'>
        <Alert skin='blue'>An example of an alert</Alert>
        <Alert skin='blue-dark'>An example of an alert</Alert>
        <Alert skin='blue-light'>An example of an alert</Alert>
        <Alert skin='indigo'>An example of an alert</Alert>
        <Alert skin='indigo-dark'>An example of an alert</Alert>
        <Alert skin='indigo-light'>An example of an alert</Alert>
        <Alert skin='magenta'>An example of an alert</Alert>
        <Alert skin='magenta-dark'>An example of an alert</Alert>
        <Alert skin='magenta-light'>An example of an alert</Alert>
        <Alert skin='red'>An example of an alert</Alert>
        <Alert skin='red-dark'>An example of an alert</Alert>
        <Alert skin='red-light'>An example of an alert</Alert>
        <Alert skin='red-orange'>An example of an alert</Alert>
        <Alert skin='red-orange-dark'>An example of an alert</Alert>
        <Alert skin='red-orange-light'>An example of an alert</Alert>
        <Alert skin='orange'>An example of an alert</Alert>
        <Alert skin='orange-dark'>An example of an alert</Alert>
        <Alert skin='orange-light'>An example of an alert</Alert>
        <Alert skin='gold'>An example of an alert</Alert>
        <Alert skin='gold-dark'>An example of an alert</Alert>
        <Alert skin='gold-light'>An example of an alert</Alert>
        <Alert skin='yellow'>An example of an alert</Alert>
        <Alert skin='yellow-dark'>An example of an alert</Alert>
        <Alert skin='yellow-light'>An example of an alert</Alert>
        <Alert skin='green'>An example of an alert</Alert>
        <Alert skin='green-dark'>An example of an alert</Alert>
        <Alert skin='green-light'>An example of an alert</Alert>
        <Alert skin='teal'>An example of an alert</Alert>
        <Alert skin='teal-dark'>An example of an alert</Alert>
        <Alert skin='teal-light'>An example of an alert</Alert>
        <Alert skin='cyan'>An example of an alert</Alert>
        <Alert skin='cyan-dark'>An example of an alert</Alert>
        <Alert skin='cyan-light'>An example of an alert</Alert>
      </div>

    </section>
    <section class='p5'>
      <ComponentTitle>SlabStat</ComponentTitle> 
      <div class='flex g5'>
        <SlabStat /> 
        <SlabStat variant={2} /> 
        <SlabStat variant={3} /> 
      </div>
    </section>
    <section class='p5'>
      <ComponentTitle>Card</ComponentTitle> 
      <div class='flex g4'>
        <div class='w-25'><Card /></div>
        <div class='w-100'><Card /></div>
      </div>
    </section>
  </div>
  <Footer />
</Layout>

