---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import Avatar from '../components/Avatar.astro';
import SlabStat from '../components/SlabStat.astro';
import Footer from '../components/Footer.astro';
import ComponentTitle from '../components/ComponentTitle.astro';
---

<Layout title="Tachyons - Design at the speed of light">
  <Header />
  <section class='gray-0 p4 p5-m p6-l'>
    <h1 class='m0 f7 fw9'>Built for designing</h1>
    <p class='f5 m0 measure lh-body'>
      Create fast loading, highly readable, and 100% responsive interfaces with as little CSS as possible.
    </p>
  </section>
  <div>
  <section class='p4'>
    <ComponentTitle>Avatar</ComponentTitle> 
    <Avatar /> 
  </section>
  <section class='p4'>
    <ComponentTitle>SlabStat</ComponentTitle> 
    <SlabStat /> 
  </section>
  </div>
  <Footer />
</Layout>

