---
const { variant = 1 } = Astro.props;
---

{variant === 1 && 
  <p class='ba p4 f2'>
    <slot />
  </p>
}

{variant === 2 && 
  <p class='ba p4 f2 tc'>
    <slot />
  </p>
}

{variant === 3 && 
  <p class='ba p4 f2 fw7'>
    <slot />
  </p>
}

{variant === 4 && 
  <p class='ba p4 f2 fw7 tc'>
    <slot />
  </p>
}

{variant === 5 && 
  <p class='ba br2 p4 f2 shadow-border-1'>
    <slot />
  </p>
}

{variant === 6 && 
  <p class='ba br2 p4 f2 fw7'>
    <slot />
  </p>
}

{variant === 7 && 
  <p class='ba br2 p4 f2 tc'>
    <slot />
  </p>
}

{variant === 8 && 
  <p class='ba br2 p4 f2 fw7 tc'>
    <slot />
  </p>
}
