---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body, variant = 1 } = Astro.props;
---

{variant === 1 &&
  <a href={href} title={title} class='db' style='container-type: inline-size;'>
    <time class='f-mono db mb2 f1'>14 MAY 2023</time>
    <img src='https://source.unsplash.com/random/1200x630' class='db w-100' />
    <h4 class='f5-s f7-m f9-l mt3 mb0'>Card title</h4>
    <p class='lh-body f1 f4-s mt2'>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
  </a>
}

{variant === 2 &&
  <a href={href} title={title}>
    <img src='https://source.unsplash.com/random/1200x630' class='db w-100' />
  </a>
}

