---
---
<footer class='px5 bt py4'>
<dl class='lh-body'>
  <dt class='fw9'>Tachyon</dt>
  <dd class='ml0 measure'>
    A tachyon /ˈtæki.ɒn/ or tachyonic particle is a hypothetical particle that always moves faster than light. The word comes from the Greek:

  ταχύς or tachys, meaning “swift, quick, fast, rapid”  
  </dd>
</dl>
<a href='https://github.com/tachyons-css'>GitHub</a>
</footer>
