---
const { variant = 1 } = Astro.props;
---

{variant === 1 && 
  <header class='bb flex items-center'>
    <a href='/' class='link flex items-center py4 px5 fw9 f4 gray-0' title='Tachyons Documentation'>
      Tachyons 
    </a>  
    <nav class='flex ml-auto mr3'>
      <a href='/docs' class='link db py3 px4 fw7 f3 gray-0' title='Components'>Docs</a>  
      <a href='/theme' class='link db py3 px4 fw7 f3 gray-0' title='Components'>Theme</a>  
      <a href='/components' class='link db py3 px4 fw7 f3 gray-0' title='Components'>Components</a>  
      <a href='/pages' class='link db py3 px4 fw7 f3 gray-0' title='Pages'>Pages</a>  
      <a href='/pages' class='link db py3 px4 fw7 f3 gray-0' title='v4'>v4.12</a>  
    </nav>
  </header>
}
