---
const { variant = 1 } = Astro.props;
---

{variant === 1 && 
  <p class='lh-body measure'>
    <slot /> 
  </p>
}

{variant === 2 && 
  <p class='lh-body measure-wide'>
    <slot /> 
  </p>
}

{variant === 3 && 
  <p class='lh-body measure-narrow'>
    <slot /> 
  </p>
}
